include ../mixins/images.pug
include ../components/hero-banners.pug
include ../components/buttons.pug
include ../components/breadcrumb.pug


- var megaMenuShadow = "#000000"
- var siteWidth = "1300px"

mixin megaMenuSubElement(c)
	li
		a.flex.items-start(class="gap-[16px]", href= c.url) 
			img.w-8(src="/src/images/" + c.icon, alt= c.title)
			div
				strong.block(class="text-[15px]")= c.title
				span.block.text-xs= c.text

mixin megaMenuHeader(h)
	div(class="mb-[24px]")
		span.font-extrabold.block= h.title
		span.text-xs(class="text-[#B0B6C5]")= h.text

mixin megaMenuArrow()
	div.mega-menu-arrow.absolute.hidden.z-2(class="group-hover/menuitem:block") 

mixin megaMenuTopElement(t)
	if (t.target)
		a.top-menu-element.relative.flex.items-center.gap-5(href=t.url, class="py-[12px] px-[16px] gap-x-[8px]", data-text=t.text)= t.text
			+megaMenuArrow
	else
		a.top-menu-element.relative.flex.items-center.gap-5(href=t.url, class="py-[12px] px-[16px] gap-x-[8px]", data-text=t.text, target="_target" )= t.text
			+megaMenuArrow

//- header#site-header.fixed.w-full.top-0.left-0.right-0.z-1
header#site-header.fixed.w-full.top-0.left-0.right-0.z-10.peer(class="group/header")
	div(class="container mx-auto px-6 py-[18px] block lg:hidden")
		div(class="flex items-center justify-between")
			a(class="inline-block", href="/", id="logo") 
				img.logo-image(class="h-[44px] logo-image", src='/src/images/OP-Logo.svg', alt='OpenPayd')
			button(id="hamburger", class="flex flex-col justify-center items-center space-y-[6px] w-8 h-8 group")
				span(class="w-[16px] h-[2px] bg-openpayd-dark-blue rounded-full transition-all duration-300 origin-center")
				span(class="w-[16px] h-[2px] bg-openpayd-dark-blue rounded-full transition-all duration-300 origin-center")

	.container.w-full.mx-auto.flex.items-center.justify-end.hidden(class="max-w-[" + siteWidth + "] text-[18px] py-[32px] px-[5px] group-[.scrolled]/header:py-[18px] transition-[padding] duration-300 ease-in-out lg:flex")

		//  Logo 
		#logo.flex.items-center.space-x-2.mr-auto
			a(href="/") 
				img.logo-image(class="w-[170px] h-[58px]", src='/src/images/OP-Logo.svg', alt='OpenPayd')
			
		nav#main-nav.text-slate-900(class="text-[18px]")
			ul.grid.grid-cols-5.items-center(class="space-x-3")
				//- Product
				li.relative.top-menu-opener(class="group/menuitem")
					
					+megaMenuTopElement({url: "#", text: "Product"})
					.mega-menu.absolute.bg-white.z-1.hidden(
       					class="group-hover/menuitem:block shadow-[8px_8px_56px_0_" + megaMenuShadow + "] p-[48px] w-[800px] rounded-[20px] left-[-100px] top-(calc(100% +16px)))" 
					)
						ul
							li 
								+megaMenuHeader({title: "PAYMENTS", text: "Send and receive globally"})
								ul.grid.grid-cols-3(class="gap-x-[32px] gap-y-[20px]")
									+megaMenuSubElement({
										url:"/products", 
										icon:"OP-Icon-Pay-In-Review-Aura.svg",
										title:"Accept Payments", 
										text:"Learn about your users"}) 
									+megaMenuSubElement({
										url:"/products", 
										icon:"OP-Icon-International-Aura.svg",
										title:"Send Payments", 
										text:"Automate global payouts at scale"}) 
									+megaMenuSubElement({
										url:"/products", 
										icon:"OP-Icon-Open-Banking-Aura.svg",
										title:"Open Banking", 
										text:"Integrate Pay-by-bank for a better payments UX"}) 
							li.mt-10 
								+megaMenuHeader({
									title: "ACCOUNTS", 
									text: "Bank with virtual IBANs"})
								ul.grid.grid-cols-3(class="gap-x-[32px] gap-y-[20px]")
									+megaMenuSubElement({
										url:"/products", 
										icon:"OP-Icon-Master-Accounts-Aura.svg",
										title:"Virtual IBANs", 
										text:"Issue accounts to your customers"}) 
									+megaMenuSubElement({
										url:"/products", 
										icon:"OP-Icon-BaaS-Aura.svg",
										title:"Banking-as-a-Service", 
										text:"Embed banking and payment services"}) 
									+megaMenuSubElement({
										url:"/products", 
										icon:"OP-Icon-Corporate-Customers-Aura.svg",
										title:"Corporate Accounts", 
										text:"Manage all your business spending"}) 
									+megaMenuSubElement({
										url:"/products", 
										icon:"OP-Icon-Sub-Accounts-Aura.svg",
										title:"Pooled Accounts", 
										text:"Power your business with better banking"}) 
									+megaMenuSubElement({
										url:"/products", 
										icon:"OP-Icon-Lending-Aura.svg",
										title:"Multi-Currency Accounts", 
										text:"Go global with accounts in all major currencies"}) 

							li.mt-10
								+megaMenuHeader({
									title: "FX & TREASURY", 
									text: "Orchestrate your business money flows"}) 
								ul.grid.grid-cols-3(class="gap-x-[32px] gap-y-[20px]")
									+megaMenuSubElement({
										url:"/products", 
										icon:"OP-Icon-FX-Aura.svg",
										title:"Foreign Exchange", 
										text:"Automate real-time FX at scale"}) 
									+megaMenuSubElement({
										url:"/products", 
										icon:"OP-Icon-Corporate-Customers-Aura.svg",
										title:"Corporate Accounts", 
										text:"Manage all your business spending"})
									+megaMenuSubElement({
										url:"/products", 
										icon:"OP-Icon-Lending-Aura.svg",
										title:"Stablecoins", 
										text:"Move and manage stablecoins"}) 
				//- Solutions
				li.relative.top-menu-opener(class="group/menuitem")
					
					+megaMenuTopElement({url: "#", text: "Solutions"})
					.mega-menu.absolute.bg-white.z-1.hidden(
						class="group-hover/menuitem:block shadow-[8px_8px_56px_0_" + megaMenuShadow + "] p-[48px] w-[640px] rounded-[20px] left-[-253px] top-(calc(100% +16px)))"
					)
						ul.grid.grid-cols-2(class="gap-x-[32px] gap-y-[20px]")
							+megaMenuSubElement({url:"#", icon:"OP-Icon-Sub-Accounts-Aura.svg",title:"Fintech", text:"Build on our BaaS infrastructure"}) 
							+megaMenuSubElement({
								url:"/solutions", 
								icon:"OP-Icon-FX-Aura.svg",
								title:"Forex & Online Brokerage", 
								text:"Drive growth through seamless payments and banking"})
							+megaMenuSubElement({
								url:"/solutions", 
								icon:"OP-Icon-DigitalAssets-Aura.svg",
								title:"Digital Assets", 
								text:"Fund accounts and withdraw in fiat currency"})
							+megaMenuSubElement({
								url:"/solutions", 
								icon:"OP-Icon-International-Aura.svg",
								title:"Remittance", 
								text:"Enhance your international payments and reconciliation"}) 
				
							+megaMenuSubElement({
								url:"/solutions", 
								icon:"OP-Icon-marketplace-Aura.svg",
								title:"RemittMarketplaces & Platformsance", 
								text:"Embed payments and banking into your digital marketplace"}) 
							+megaMenuSubElement({
								url:"/solutions", 
								icon:"OP-Icon-Technology-Aura.svg",
								title:"Insurtech", 
								text:"Integrate automated payments into your tech stack"}) 
							+megaMenuSubElement({
								url:"/solutions", 
								icon:"OP-Icon-Pay-In-Review-Aura.svg",
								title:"Payroll", 
								text:"Access global payouts for every payroll run"}) 
							+megaMenuSubElement({
								url:"/solutions", 
								icon:"OP-Icon-iGaming-Aura.svg",
								title:"iGaming", 
								text:"Unlock digital payments for digital gaming"}) 
						
						ul.grid.grid-cols-2.mt-5.pt-5.border-t-1(class="gap-x-[32px] gap-y-[20px]" style="border-color: #f5f5f5;")
							+megaMenuSubElement({
								url:"/solutions", 
								icon:"OP-Icon-Embedded-Finance-Aura.svg",
								title:"Embedded Finance", 
								text:"Integrate financial services into your Platform via API"}) 
				//- Developers
				li.relative.top-menu-opener(class="group/menuitem")
					+megaMenuTopElement({url: "#", text: "Developers"})
					.mega-menu.absolute.bg-white.z-1.hidden(
						class="group-hover/menuitem:block shadow-[8px_8px_56px_0_" + megaMenuShadow + "] p-[48px] w-[640px] rounded-[20px] left-[-253px] top-(calc(100% +16px)))"
					)
						ul.grid.grid-cols-2(class="gap-x-[32px] gap-y-[20px]")
							+megaMenuSubElement({
								url:"/api", 
								icon:"OP-Icon-API-Aura.svg",
								title:"OpenPayd API", 
								text:"Take your first step to using our developer-friendly API"}) 
							+megaMenuSubElement({
								url:"https://apidocs.openpayd.com/", 
								icon:"OP-Icon-Compliance-Aura.svg",
								title:"API Docs", 
								text:"Read our complete guide to integrating with OpenPayd"}) 
							+megaMenuSubElement({
								url:"https://sandbox.openpayd.com/account/login?returnUrl=%2F", 
								icon:"OP-Icon-Sandbox-Aura.svg",
								title:"Sandbox", 
								text:"Explore functionality with our testing environment"}) 
				//- Resources
				li.relative.top-menu-opener(class="group/menuitem")
					+megaMenuTopElement({url: "#", text: "Resources"})
					.mega-menu.absolute.bg-white.z-1.hidden(
						class="group-hover/menuitem:block shadow-[8px_8px_56px_0_" + megaMenuShadow + "] p-[48px] w-[320px] rounded-[20px] -left-[80px] top-(calc(100% +16px)))"
					)
						ul
							li 
								+megaMenuHeader({title: "NEWS & MEDIA", text: "The latest OpenPayd updates"})
								ul(class="gap-x-[32px] gap-y-[20px]")
									+megaMenuSubElement({
										url:"/announcements", 
										icon:"OP-Icon-announcements-Aura.svg",
										title:"Announcements", 
										text:"See our latest news"}) 
							li.mt-10 
								+megaMenuHeader({title: "OUR THINKING", text: "OpenPayd experts share what the future holds"})
								ul(class="gap-x-[32px] gap-y-[20px]")
									+megaMenuSubElement({
										url:"/blog", 
										icon:"OP-Icon-blog-Aura.svg",
										title:"Our Blog", 
										text:"Read from our team members"}) 
									//- +megaMenuSubElement({
										url:"#", 
										icon:"OP-Icon-Validation-Aura.svg",
										title:"Legal", 
										text:"xxxxxxxxxxx"}) 

				//- Company
				li.relative.top-menu-opener(class="group/menuitem")
					+megaMenuTopElement({url: "#", text: "Company"})
					.mega-menu.absolute.bg-white.z-1.hidden(
						class="group-hover/menuitem:block shadow-[8px_8px_56px_0_" + megaMenuShadow + "] p-[48px] w-[640px] rounded-[20px] left-[-253px] top-(calc(100% +16px)))"
					)
						ul.grid.grid-cols-2(class="gap-x-[32px] gap-y-[20px]")
							+megaMenuSubElement({
								url:"/about-us", 
								icon:"OP-Icon-Validation-Aura.svg",
								title:"About Us", 
								text:"See our mission and values"}) 
							+megaMenuSubElement({
								url:"/our-team", 
								icon:"OP-Icon-Customers-Aura.svg",
								title:"Meet the Team", 
								text:"Find out more from our Industry experts"}) 
							+megaMenuSubElement({
								url:"/events", 
								icon:"OP-Icon-events-Aura.svg",
								title:"Events", 
								text:"See the latest OpenPayd events"}) 
							
							+megaMenuSubElement({
								url:"/career", 
								icon:"OP-Icon-Challenge-Aura.svg",
								title:"Career", 
								text:"Join our growing team"}) 
							+megaMenuSubElement({
								url:"/partnership", 
								icon:"OP-Icon-partner-Aura.svg",
								title:"Partner with Us", 
								text:"Join our growing team"}) 
							+megaMenuSubElement({
								url:"/faq", 
								icon:"OP-Icon-FAQ-Aura.svg",
								title:"FAQ", 
								text:"Find information"}) 
							+megaMenuSubElement({
								url:"/contact-us", 
								icon:"Op-Icon-Contact-Aura.svg",
								title:"Contact Us", 
								text:""}) 
		//  Actions 
		.flex.items-center.space-x-3
			+ButtonAuraBorder({url:"#", text:"LOG IN", classes:"text-black", rel:"nofollow", target:"_blank" })
			+buttonNonBorder({url:"#", text:"CONTACT", classes: "bg-openpayd-pink hover:bg-linear-[90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white"})

div(id="mobile-navigation", class="w-full h-screen pt-[74px] fixed z-[1] top-0 left-0 text-openpayd-dark-blue block lg:hidden")
	div(class="mx-auto px-6 pt-[46px] pb-6")
		div(class="bg-white rounded-xl py-[15px]")
			nav()
				ul
					li(class="menu-item-has-children")
						a(class="flex justify-between items-center px-6 py-[15px]")
							span(class="font-medium text-lg leading-none title") Products
							span(class="arrow")
								<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8334 1.5L7.00008 7.33333L1.16675 1.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
						ul(class="bg-[#f5f5f5]")
							div(class="py-4 px-6")
								p
									span(class="block font-extrabold text-[15px] tracking-tighter leading-none mb-1") PAYMENTS
									span(class="block text-[#B0B6C5] text-xs font-medium leading-none") Send and receive globally
								li
									a(href="products", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Pay-In-Review-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Accept Payments
								li
									a(href="products", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-International-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Send Payments
								li
									a(href="products", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Open-Banking-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Open Banking
								p
									span(class="block font-extrabold text-[15px] tracking-tighter leading-none mb-1") ACCOUNTS
									span(class="block text-[#B0B6C5] text-xs font-medium leading-none") Bank with virtual IBANs
								li
									a(href="products", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Master-Accounts-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Virtual IBANs
								li
									a(href="products", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-BaaS-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Banking-as-a-Service
								li
									a(href="products", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Corporate-Customers-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Corporate Accounts
								li
									a(href="products", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Sub-Accounts-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Pooled Accounts
								li
									a(href="products", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Lending-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Multi-Currency Accounts
								p
									span(class="block font-extrabold text-[15px] tracking-tighter leading-none mb-1") FX & TREASURY
									span(class="block text-[#B0B6C5] text-xs font-medium leading-none") Orchestrate your business money flows
								li
									a(href="products", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-FX-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Foreign Exchange
								li
									a(href="products", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Corporate-Customers-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Corporate Accounts
								li
									a(href="products", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Lending-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Stablecoins

					li(class="menu-item-has-children")
						a(class="flex justify-between items-center px-6 py-[15px]")
							span(class="font-medium text-lg leading-none title") Solutions
							span(class="arrow")
								<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8334 1.5L7.00008 7.33333L1.16675 1.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
						ul(class="bg-[#f5f5f5]")
							div(class="py-4 px-6")
								li
									a(href="solutions", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Sub-Accounts-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Fintech
								li
									a(href="solutions", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-FX-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Forex & Online Brokerage
								li
									a(href="solutions", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-DigitalAssets-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Digital Assets
								li
									a(href="solutions", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-International-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Remittance
								li
									a(href="solutions", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-marketplace-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Marketplaces & Platformsance
								li
									a(href="solutions", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Technology-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Insurtech
								li
									a(href="solutions", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Pay-In-Review-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Payroll
								li
									a(href="solutions", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-iGaming-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") iGaming
								li
									a(href="solutions", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Embedded-Finance-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Embedded Finance
					
					li(class="menu-item-has-children")
						a(class="flex justify-between items-center px-6 py-[15px]")
							span(class="font-medium text-lg leading-none title") Developers
							span(class="arrow")
								<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8334 1.5L7.00008 7.33333L1.16675 1.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
						ul(class="bg-[#f5f5f5]")
							div(class="py-4 px-6")
								li
									a(href="api", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-API-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") OpenPayd API
								li
									a(href="https://apidocs.openpayd.com", target="_blank", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Compliance-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") API Docs
								li
									a(href="https://sandbox.openpayd.com/account/login?returnUrl=%2F", target="_blank", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Sandbox-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Sandbox
					li(class="menu-item-has-children")
						a(class="flex justify-between items-center px-6 py-[15px]")
							span(class="font-medium text-lg leading-none title") Resources
							span(class="arrow")
								<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8334 1.5L7.00008 7.33333L1.16675 1.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
						ul(class="bg-[#f5f5f5]")
							div(class="py-4 px-6")
								p
									span(class="block font-extrabold text-[15px] tracking-tighter leading-none mb-1") NEWS & MEDIA
									span(class="block text-[#B0B6C5] text-xs font-medium leading-none") The latest OpenPayd updates
								li
									a(href="announcements", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-announcements-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Announcements
								p
									span(class="block font-extrabold text-[15px] tracking-tighter leading-none mb-1") OUR THINKING
									span(class="block text-[#B0B6C5] text-xs font-medium leading-none") OpenPayd experts share what the future holds
								li
									a(href="blog", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-blog-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Our Blog
					li(class="menu-item-has-children")
						a(class="flex justify-between items-center px-6 py-[15px]")
							span(class="font-medium text-lg leading-none title") Company
							span(class="arrow")
								<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8334 1.5L7.00008 7.33333L1.16675 1.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
						ul(class="bg-[#f5f5f5]")
							div(class="py-4 px-6")
								li
									a(href="/about-us", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Validation-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") About Us
								li
									a(href="/our-team", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Customers-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Meet the Team
								li
									a(href="/events", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-events-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Events
								li
									a(href="/career", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-Challenge-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Career
								li
									a(href="/partnership", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-partner-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Partner with Us
								li
									a(href="/faq", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/OP-Icon-FAQ-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") FAQ
								li
									a(href="/contact-us", class="flex items-center py-3 space-x-4")
										img(class="", src="/src/images/Op-Icon-Contact-Aura.svg")
										span(class="font-extrabold text-[15px] leading-none") Contact Us

			div(class="pt-6 pb-2 px-6 space-y-3")
				a(class="button aura-border bordered font-semibold bg-clip-text py-4 px-9 text-base text-center uppercase text-black block", href="#") Log In
				a(class="button aura-hover rounded-full font-semibold uppercase py-4 px-9 text-base text-center block bg-openpayd-pink") CONTACT
