//dark hero banner
mixin poductHero(d)
	section#sub-hero-banner(class="w-full bg-[linear-gradient(to_right,rgb(0,18,68)_0%,rgb(0,18,68)_50%,white_50%,white_100%)]")
		.container.w-full.mx-auto.grid(class="md:grid-cols-6 bg-[url(/src/images/OP_Aura_graphic_RGB_1.png)] bg-no-repeat bg-position-[110px_-356px]  bg-openpayd-dark-blue max-w-[" + siteWidth + "] pb-[93px] pt-[116px] md:rounded-tr-[125px] px-6 md:px-0")
			div(class="md:col-span-5 space-y-[36px] text-white")
				h1(class="md:text-8xl text-5xl md:leading-[110px] leading-normal font-black")= d.title
				p(class="text-lg leading-7")= d.summary
				.flex(class="flex-col md:block space-x-7 space-y-7")
					+buttonNonBorder({
						url: d.link1.url, 
						text: d.link1.text, 
						classes: "bg-openpayd-pink hover:bg-linear-[90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white md:w-auto w-full",
						rel: d.link2.rel, 
						target: d.link1.target 
					})
					+ButtonAuraBorder({
						url: d.link2.url, 
						text: d.link2.text, 
						classes:"text-white w-full md:w-auto", 
						rel: d.link2.rel, 
						target: d.link2.target 
					})

//light hero banner
mixin solutionHero(d)
	section#sub-hero-banner(class="w-full bg-[linear-gradient(to_right,rgb(230,250,255)_0%,rgb(230,250,255)_50%,white_50%,white_100%)]")
		.container.w-full.mx-auto(class="md:grid grid-cols-1bg-[url(/src/images/OP_Aura_graphic_RGB_1.png)] bg-no-repeat bg-position-[110px_-356px] bg-openpayd-light-blue max-w-[" + siteWidth + "] pb-[93px] pt-[116px] md:rounded-tr-[125px] px-6 md:px-0")
			div(class="col-span-10 rounded-tr-lg space-y-[36px] text-openpayd-dark-blue")
				h1(class="md:text-8xl text-5xl md:leading-[110px] leading-normal font-black")= d.title
				p= d.summary
				.flex(class="flex-col md:block space-x-7 space-y-7")
					+buttonNonBorder({
						url: d.link1.url, 
						text: d.link1.text, 
						classes: "bg-openpayd-pink hover:bg-linear-[90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white w-full md:w-auto"
					})
					+ButtonAuraBorder({
						url: d.link2.url, 
						text: d.link2.text, 
						classes:"text-black w-full md:w-auto", 
						rel:"nofollow", 
						target:"_blank" 
					})
mixin onlyTextHero(title)
	section#sub-hero-banner(class="w-full")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] pb-[72px] pt-[65px] rounded-tr-[125px] px-6 md:px-0")
			h1(class="text-[40px] md:text-[82px] leading-[1.1] font-black md:mb-9")= title
			//- h1(class="md:text-[96px] md:leading-[110px] md:font-black text-opanpayd-dark-blue")= title

