extends  ../layouts/layout

block variables
	-var pageType = ""
	-var pageTitle = "Out Team"
	//- SEO
	-var desc = "Out Team"
	-var keywords = "Home,Page"
	-var pageRole = "home"

block content
	include ../mixins/team-slider.pug

	+breadcrumb(["Company", "Meet to team"])

	+onlyTextHero("Meet to team")



	section(class="bg-openpayd-dark-blue bg-[url(/src/images/OP_Aura_graphic_RGB_1.png)] bg-no-repeat bg-position-[100%_-356px] pt-0 md:pb-[108px] pb-[54px] shadow-[inset_0px_50px_0px_0px_rgba(255,_255,_255,_1)] md:shadow-[inset_0px_205px_0px_0px_rgba(255,_255,_255,_1)]")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] md:grid md:grid-cols-12  px-6 md:px-0")
			.video-aura-box.gradient-box.overflow-hidden(class="px-4 md:px-[26px] py-3 md:py-[28px] aspect-[15/9] rounded-[20px] md:rounded-[30px] before:rounded-[10px] md:before:rounded-[30px] before:p-[4px] col-span-10 col-start-2", data-aos="fade-up", data-aos-duration="1500")
				img.w-full.h-full.object-cover.overflow-hidden(class="rounded-[15px] block", src="/src/images/out-team-cover.jpg", alt="")
				//- .overflow-hidden.relative(class="rounded-[15px] w-ful h-full hidden md:block")
					iframe(
						class="w-full",
						src="https://player.vimeo.com/video/915607781?h=637096ac7f&amp;title=0&amp;byline=0&amp;portrait=0",
						style="position:absolute;top:0;left:0;width:100%;height:100%;",
						frameborder="0",
						allow="autoplay; fullscreen; picture-in-picture",
						allowfullscreen="",
						loading="lazy",
						data-lf-form-tracking-inspected-kn9eq4rpaxj8rlvp="true",
						data-lf-yt-playback-inspected-kn9eq4rpaxj8rlvp="true",
						data-lf-vimeo-playback-inspected-kn9eq4rpaxj8rlvp="true",
					)

	//- section(class="bg-openpayd-dark-blue bg-[url(/src/images/OP_Aura_graphic_RGB_1.png)] bg-no-repeat bg-position-[100%_-356px] pt-0 md:pb-[108px] pb-[54px] shadow-[inset_0px_50px_0px_0px_rgba(255,_255,_255,_1)] md:shadow-[inset_0px_205px_0px_0px_rgba(255,_255,_255,_1)]")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] md:grid md:grid-cols-12  px-6 md:px-0")
			.video-aura-box.gradient-box.overflow-hidden(class="px-4 md:px-[26px] py-3 md:py-[28px] aspect-[15.5/9] rounded-[20px] md:rounded-[30px] before:rounded-[10px] md:before:rounded-[30px] before:p-[4px] col-span-12", data-aos="fade-up", data-aos-duration="1500")
				img.w-full.h-full.object-cover.overflow-hidden(class="rounded-[15px]", src="/src/images/our-team-hero-image.jpg", alt="")
					

	

	section(class="py-16 md:py-[156px]")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] md:space-y-[54px] text-lg md:text-[34px] px-6 md:px-0") 
			
			h2(class="font-bold text-lg md:text-4xl") The future of finance is embedded.

			p Digital businesses deserve better banking and payments. Too many are still trying to build modern user experiences on top of decades-old infrastructure. We knew there must be a better way.
				br
				|At OpenPayd, we are building embedded finance and Banking-as-a-Service infrastructure that powers business growth. With our financial services infrastructure, innovative companies are building new products, streamlining their operations and managing their payments on a global scale.
			div(class="flex flex-col md:flex-row gap-8 mt-8")
				+buttonNonBorder({
					url: "#", 
					text: "CAREERS", 
					classes: "bg-openpayd-blue hover:bg-linear-[90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white"
				})
				+ButtonAuraBorder({
					url: "#", 
					text: "ABOUT US", 
					classes:"text-black", 
				})

	section(class="bg-openpayd-dark-blue overflow-hidden py-12 md:py-[156px]")
		.container(class="max-w-[" + siteWidth + "] space-y-[54px] px-6 md:px-0 w-4/5 md:w-full md:mx-auto")
			h2(class="font-black leading-[69px] text-[54px] text-white px-6 md:px-6") Our leadership
			+teamSlider("ğ")