extends  ../layouts/layout

block variables
	-var pageType = "header-dark-mobile"
	-var pageTitle = "Accept Payments"
	//- SEO
	-var desc = "Accept Payments"
	-var keywords = "Home,Page"
	-var pageRole = "home"

block content
	include ../mixins/product-slider.pug
	include ../components/faq.pug

	+breadcrumb(["Products", "Accept Payments"])

	//- div(class="mt-[197px] mb-[42px]")
		.container.w-full.mx-auto.grid.grid-row-12(class="max-w-[" + siteWidth + "] pt-[32px] px-[5px]")
			.breadcrumb Products > #[strong Accept Payments]
	

	+poductHero({
		title: "MANAGE EVERY INCOMING PAYMENT",
		summary: "Receive payments without the pain, using OpenPayd’s universal infrastructure.",
		link1: {
			url: "/contact-us/",
			text: "DEMO",
		},
		link2: {
			url: "https://sandbox.openpayd.com/account/login",
			text: "SANDBOX",
			target: "_blank"
		}
	})


	section.right-image-text-box(class="pb-16 md:pb-[132px] md:pt-[166px] pt-[52px]")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] md:grid md:grid-cols-12 px-6 md:px-0")
			div(class="md:col-span-5 space-y-9 md:space-y-[46px]", data-aos="fade-up")
				h2(class="font-black leading-12 md:leading-[69px] text-4xl md:text-[54px]") Receive payments from anywhere
				p(class="leading-7") OpenPayd offers a truly global payment solution, with the ability to receive payments across every major currency into a single IBAN. Our rails-agnostic approach combines traditional finance with blockchain technology under one API, ensuring instants, secure transactions all over the world.
			div(class="md:col-span-6 md:col-start-7 md:mt-0 mt-9", data-aos="fade-up")
				figure(class="md:p-[42px] pt-0") 
					img(src="/src/images/accepting-payments.png", alt="Receive payments from anywhere")

	section.dark-bg-product-content.overflow-hidden(class="w-full bg-[linear-gradient(to_left,rgb(0,18,68)_0%,rgb(0,18,68)_50%,white_50%,white_100%)]")
		.container.w-full.mx-auto(class="md:grid md:grid-cols-12 bg-openpayd-dark-blue max-w-[" + siteWidth + "] pb-[93px] pt-[39px] md:pt-[116px] px-[5px] md:rounded-tl-[125px] px-6 md:px-0")

			div(class="md:col-span-11 md:col-start-2 p-[15px] md:p-0 md:mb-20 mb-8", data-aos="fade-up")
				h2.text-white.font-black(class="md:text-7xl text-4xl") Every Pay-In, managed your way
			div(class="col-span-4 col-start-2 text-lg text-white space-y-[38px] p-[15px] md:p-0")
				
				-

					var darkBgContent = [
						{
							title: "Unlock real-time payment rails",
							summary: "MAKE PAYMENTS FASTER THAN EVER",
							text: "Never wait for a payment to reach your account again, with our access to real-time traditional and blockchain payment rails."
						},
						{
							title: "Harness every major currency",
							summary: "ALL IN ONE PLACE",
							text: "Global regulatory coverage and multi-currency accounts enable you to receive all major currencies, stablecoins and major digital assets such as BTC and ETH."
						},
						{
							title: "Reconcile on arrival",
							summary: "STREAMLINING YOUR OPERATIONS",
							text: "Virtual IBANs enable you to automatically reconcile every incoming payment as it arrives. Chase growth, not funds."
						},
					]
				
				each dbc in darkBgContent
					h3.font-bold.text-4xl(data-aos="fade-up")= dbc.title
					h4.font-bold.text-2xl.text-openpayd-blue(data-aos="fade-up")= dbc.summary
					p.text-lg(data-aos="fade-up")= dbc.text

			
			div.col-start-7.col-span-5.text-white(class="md:mt-[247px] mt-12 ml-[15px] md:ml-0", data-aos="fade-up")
				-
					var productSliderContent = [
						{
							img: "OP-Icon-Pay-In-Review-Aura.svg",
							title: "Via API",
							desc: "Our developer-friendly API is built for scale. Keep track of every incoming payment with our dedicated suite of API calls.",
							button: {
								text: "CONTACT",
								url: "#"
							}
						},
						{
							img: "OP-Icon-Sub-Accounts-Aura.svg",
							title: "Through our platform",
							desc: "See all your incoming payments in one place in the OpenPayd platform. Then track, filter and export all the information you need.",
							button: {
								text: "SANDBOX",
								url: "#",
							}
						},
						{
							img: "OP-Icon-Pay-In-Review-Aura.svg",
							title: "Via API",
							desc: "Our developer-friendly API is built for scale. Keep track of every incoming payment with our dedicated suite of API calls.",
							button: {
								text: "CONTACT",
								url: "#"
							}
						},
						{
							img: "OP-Icon-Sub-Accounts-Aura.svg",
							title: "Through our platform",
							desc: "See all your incoming payments in one place in the OpenPayd platform. Then track, filter and export all the information you need.",
							button: {
								text: "SANDBOX",
								url: "#",
							}
						}

					]
				+productSlider(productSliderContent)


	

	section.trio-box.w-full
		.container.mx-auto(class="max-w-[" + siteWidth + "] md:pt-[132px] md:pb-10 md:grid md:grid-cols-12 space-y-[64px] px-6 md:px-0")

			h2(class="font-black md:text-[54px] text-[32px] md:leading-[69px] leading-12 md:col-span-10 md:col-start-2 text-center mb-6") Your new account infrastructure

			p.summary(class="md:col-span-10 md:col-start-2 text-center md:text-2xl text-lg") Build a little or build a lot. Our payments and banking infrastructure is ready for whatever you need:
			-
				var trioContent = [
					{
						img: "/OP-Icon-Master-Accounts-Aura.svg",
						title: "Master Account",
						text: "Open a Master account (also known as a pooled account), in Euro or GBP."
					},
					{
						img: "/OP-Icon-Sub-Accounts-Aura.svg",
						title: "Sub Accounts",
						text: "Start issuing sub-accounts (also called linked accounts) and virtual IBANs for your underlying users or customers."
					},
					{
						img: "/OP-Icon-FX-Aura.svg",
						title: "Multi-Currency",
						text: "Combine with our multi-currency account infrastructure and pay-out functionality to super-charge your global presence."
					},
				]
			div(class="md:col-span-10 md:col-start-2 md:grid md:grid-cols-9 md:gap-5 space-y-9")
				each item, index in trioContent
					div(class="col-span-3 text-center space-y-[24px]", data-aos="fade-up", data-aos-delay= index * 300) 
						img(class="inline-block size-[72px]", src="/src/images" + item.img, alt= item.title)
						h3(class="text-2xl font-bold")= item.title
						p= item.text




	//- --------------------------------

	section(class="py-16 px-6 md:px-0")
		div(class="container mx-auto max-w-[" + siteWidth + "] text-openpayd-dark-blue")
			div(class="flex flex-col md:grid grid-cols-2 gap-x-26")
				div(class="pb-14 md:pb-0 content-center", data-aos="fade-up")
					img.w-full(src="/src/images/code-box.png", alt="6 data points: all it takes to initiate international payouts")
				div(class="space-y-8 md:space-y-16", data-aos="fade-up")
					h2(class="text-[36px] md:text-[54px] leading-[1.2] font-black") 6 data points: all it takes to initiate international payouts
					p Simple, but effective. That’s our philosophy behind every API call.
						br
						| Generate an account for a linked client with just two required parameters 

					p (“Currency” and a “friendlyName” for the account) and three optional ones. That’s all it takes to issue vIBANs like a pro.
					.flex.gap-8(class="flex-col md:flex-row")
						+buttonNonBorder({
							url: "#", 
							text: "SANDBOX", 
							classes: "bg-openpayd-blue hover:bg-linear-[90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white"
						})
						+ButtonAuraBorder({
							url: "#", 
							text: "DISCOVER vIBANs", 
							classes:"text-black"
						})
				


	section(class="py-16 px-6 md:px-0")
		div(class="container mx-auto max-w-[" + siteWidth + "] text-openpayd-dark-blue")
			div(class="flex flex-col md:grid grid-cols-2 gap-x-26")
				div(class="order-2 md:order-none space-y-8 md:space-y-16", data-aos="fade-up")
					h2(class="text-[36px] md:text-[54px] leading-[1.2] font-black") 6 data points: all it takes to initiate international payouts
					p Does a payment infrastructure that can make payments in dozens of currencies, many of which in real-time, sound too complex?
					.flex.gap-8(class="flex-col md:flex-row")
						+buttonNonBorder({
							url: "#", 
							text: "SANDBOX", 
							classes: "bg-openpayd-blue hover:bg-linear-[90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white"
						})
						+ButtonAuraBorder({
							url: "#", 
							text: "DISCOVER vIBANs", 
							classes:"text-black"
						})
				div(class="order-1 md:order-none pb-14 md:pb-0 content-center", data-aos="fade-up")
					img.w-full(src="/src/images/code-boxx.png", alt="6 data points: all it takes to initiate international payouts")




	//- --------------------------------


	include ../components/products-gateway.pug


	-
		var faq = [
			{ 
				no: '01', 
				q: 'Alright, but what exactly do you do?', 
				a: 'As a creative agency we work with you to develop solutions to address your brand needs. That includes various aspects of brand planning and strategy, marketing and design.' 
			},
			{ 
				no: '02', 
				q: 'I don’t need a brand strategist but I need help executing an upcoming campaign. Can we still work together?', 
				a: 'Yes! We can collaborate based on your needs.' 
			},
			{ 
				no: '03', 
				q: 'Are your rates competitive?', 
				a: 'We offer rates that reflect the quality and efficiency of our services.'
			},
			{ 
				no: '04', 
				q: 'Why do you have a monthly project cap?', 
				a: 'To ensure every project receives the attention it deserves.' 
			}
		]

	+Faq(faq)